
*.bak
BPC_gen/work/_info
*.bak
test/tb.v.bak
*.qdb
BPC_gen/work/_vmake
BPC_gen/work/_lib1_1.qtl
BPC_gen/work/_lib1_1.qpg
BPC_gen/work/@_opt/_lib4_0.qtl
BPC_gen/work/@_opt/_lib4_0.qpg
BPC_gen/work/@_opt/_lib3_0.qtl
BPC_gen/work/@_opt/_lib3_0.qpg
BPC_gen/work/@_opt/_lib2_0.qtl
BPC_gen/work/@_opt/_lib2_0.qpg
BPC_gen/work/@_opt/_lib1_0.qtl
BPC_gen/work/@_opt/_lib1_0.qpg
BPC_gen/wlftx0sg3n
BPC_gen/wlftw32e75
BPC_gen/wlfttsq32t
BPC_gen/vsim.wlf
BPC_gen/BPC_gen.mpf
BPC_gen/BPC_gen.cr.mti
